@import "../node_modules/ol/ol.css";

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input,
textarea,
span {
  font-family: "Kode Mono", monospace;
}

#title {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--tasteful-dark);
  mix-blend-mode: difference;
}

#map {
  width: 100vw;
  height: 100vh;
}